@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .grid-auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
}
